<form action="/Customer/create" method="POST">
<h2>Create a Customer</h2>
<input type="text" name="name" placeholder="Name"><br>
<input type="text" name="email" placeholder="Email" ><br>
<input type="text" name="state" placeholder="State">
<input type="submit" value="Create Customer" />
</form>
